---
---

@import "minima";

/* 여기부터 네 커스텀 스타일 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    system-ui, -system-ui, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}

/* 제목 중앙 정렬 & 조금 굵게 등등 나중에 더 커스터마이징 가능 */
h1, h2, h3 {
  letter-spacing: 0.02em;
}
